{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ol class="breadcrumb mb-4">
        <h3 class="mt-2">Warrant File Upload</h3>
    </ol>
    <fieldset>
        <div class="col-lg-6">
            <form action="" method="post" autocomplete='off'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="entry_date">Entry Date</label>
                    <input type="text" class="form-control" id="entry_date"
                           placeholder="date">
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                            Submit
                        </button>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'warrant_list' %}" class="btn btn-secondary btn-block btn-lg">
                            <i class="fas fa-stream"></i> Back To List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>

{% endblock %}