{% extends 'base.html' %}
{% load static %}
{% block content %}

    <ol class="breadcrumb mb-4">
        <h3 class="mt-2">Warant List</h3>
    </ol>
    <fieldset>
        <div class="col-lg-12">

            <a href="{% url 'warrant_create' %}" class="btn btn-outline-success float-right"><i class="fas fa-plus"></i>
                Add
                Warrant</a>
            <br>
            <table class="table table-hover" border="1">
                <thead class="border-bottom font-wight-bold">
                <tr>
                    <th>Thana</th>
                    <th>Union Name</th>
                    <th>Union Name Bangla</th>
                    <th>Union Code</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for union in warrant_list %}
                    <tr>
                        <td>{{ union.thana }}</td>
                        <td>{{ union.name }}</td>
                        <td>{{ union.name_bn }}</td>
                        <td>{{ union.code }}</td>
                        <td>{{ union.status }}</td>
                        <td>
                            <a href="{% url 'warrant_update' union.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            <form action="{% url 'warrant_delete' union.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>

{% endblock %}