<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="{% url 'user_list' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Users
                </a>
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Configurations
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'district_list' %}">District Information</a>
                        <a class="nav-link" href="{% url 'thana_list' %}">Thana Information</a>
                        <a class="nav-link" href="{% url 'union_list' %}">Union Information</a>
                        <a class="nav-link" href="{% url 'police_unit_list' %}">Police Unit Information</a>
                    </nav>
                </div>


                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapseLayoutsWarrant"
                   aria-expanded="false" aria-controls="collapseLayoutsWarrant">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Warrant
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsWarrant" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'warrant_create' %}">Warrant Create</a>
                        <a class="nav-link" href="{% url 'warrant_list' %}">Warrant Manage</a>
                        <a class="nav-link" href="#">Postponed Warrant</a>
                        <a class="nav-link" href="#">Disposed Warrant</a>
                        <a class="nav-link" href="#">Thana Postponed Warrant</a>
                        <a class="nav-link" href="#">Waiting for Acceptance By Court</a>
                        <a class="nav-link" href="#">Awaiting Warrant</a>
                    </nav>
                </div>


                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapseLayoutsReports"
                   aria-expanded="false" aria-controls="collapseLayoutsReports">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Reports
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsReports" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Warrant Statement</a>
                        <a class="nav-link" href="#">Newly Issued Warrant Report</a>
                        <a class="nav-link" href="#">Awaiting Approval Report</a>
                        <a class="nav-link" href="#">Police Station Based Report</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
            {% else %}
                GUEST
            {% endif %}
        </div>
    </nav>
</div>